# Problem Statement
Consider the given dataset Students Performance Test1
1. Check that is there any missing values in dataframe as a whole
2. is there any missing values across each column
3. count of missing values across each column
4. count row wise missing value
5. count of missing values of a gender column.
6. groupby count of missing values of a column , consider column gender and score
7. replace the missing value of score column with average value of the column

In [1]:
import numpy as np
import pandas as pd

C:\Users\OM\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
filepath=r"C:\Users\OM\Downloads\StudentsPerformanceTest1.csv"

In [3]:
df=pd.read_csv(filepath)

In [4]:
df.head()

,gender,math score,reading score,writing score,Placement Score,placement offer count,Region
0,female,72,72,74.0,78.0,1,Pune
1,female,69,90,88.0,NaN,2,na
2,female,90,95,93.0,74.0,2,Nashik
3,male,47,57,NaN,78.0,1,Na
4,male,na,78,75.0,81.0,3,Pune

In [5]:
df.shape

(9, 7)

In [6]:
df.isnull().values.any()

True

In [9]:
df.isnull().values.any(axis=0)

array([False,  True, False,  True,  True, False,  True])

In [11]:
df.isnull().any(axis=0)

gender                   False
math score                True
reading score            False
writing score             True
Placement Score           True
placement offer count    False
Region                    True
dtype: bool

In [12]:
df.isnull().sum()

gender                   0
math score               1
reading score            0
writing score            1
Placement Score          1
placement offer count    0
Region                   1
dtype: int64

In [13]:
df.isnull().sum(axis=1)

0    0
1    1
2    0
3    1
4    0
5    0
6    0
7    1
8    1
dtype: int64

In [14]:
df['gender'].isnull().sum()

0

In [18]:
df.groupby(['gender'])['Placement Score'].apply(lambda x:x.isnull().sum())

gender
female    1
male      0
Name: Placement Score, dtype: int64

In [19]:
df['Placement Score'].fillna(df['Placement Score'].mean(),inplace=True)

In [20]:
df['Placement Score'].isnull().sum()

0