1. Locate open Iris dataset from the URL csv_url =
'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
2. Perform the label encoding , by considering Species as target variable.

In [3]:
csv_url=r"C:\Users\OM\Downloads\iris(1).csv"

In [5]:
import numpy as np
import pandas as pd

C:\Users\OM\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [6]:
df=pd.read_csv(csv_url)

In [7]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le=LabelEncoder()

In [10]:
df['species']=le.fit_transform(df['species'])

In [11]:
df['species'].unique()

array([0, 1, 2])

In [12]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0