# Problem Statement

1. Load the demo dataset in dataframe object df

2. Detect the outlier using Inter Quantile Range(IQR)

3. remove the outliers from the dataset.

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import zscore

C:\Users\OM\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv(r"C:\Users\OM\Downloads\demo1.csv")
df.head()

,math score,reading score,writing score,placement score,placement offer count,club join year
0,80,68,70,89,3,2019
1,71,61,85,91,3,2019
2,79,16,87,77,2,2018
3,61,77,74,76,2,2020
4,78,71,67,90,3,2019

In [3]:
# 2. Detecting outliers using Interquartile Range (IQR)
# Calculate the first quartile (Q1) and third quartile (Q3) for each column
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)

# Calculate the Interquartile Range (IQR) for each column
IQR = Q3 - Q1

# Define the lower and upper bounds for outlier detection
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Create a boolean mask for outliers
outlier_mask = ((df < lower_bound) | (df > upper_bound)).any(axis=1)

In [4]:
# 3. Remove the outliers from the dataset
cleaned_df = df[~outlier_mask]

# Display the cleaned DataFrame
print("DataFrame after removing outliers:")
print(cleaned_df)

DataFrame after removing outliers:
    math score  reading score  writing score  placement score  \
0           80             68             70               89
1           71             61             85               91
4           78             71             67               90
5           73             68             90               80
8           76             60             79               77
9           75             65             85               87
12          80             80             78               94
13          78             69             71               90
15          78             62             79               93
16          86             78             80               88
18          75             62             86               87
19          82             70             87               94
22          72             60             78               94
23          74             65             71               84
24          75             77             83               77
27          71             79             88               85

    placement offer count  club join year
0                       3            2019
1                       3            2019
4                       3            2019
5                       2            2019
8                       2            2020
9                       3            2018
12                      3            2021
13                      3            2019
15                      3            2021
16                      3            2019
18                      3            2019
19                      3            2019
22                      3            2019
23                      2            2019
24                      2            2020
27                      3            2021